{% extends "quiz/base.html" %}

{% block main_content %}


  <div class="jumbotron">
    <h1 class="display-4">Quiz Game!</h1>
    <p class="lead">Welcome to the Python Quiz Game: a simple quiz game written in Python(3) and Django.</p>
    <hr class="my-4">

    {% if not user.is_authenticated %}

    <p>
        Do you want to play but it's your first time here?
        Sign up to create an account. Only a nickname and a password are required.
    </p>
      <p>
        Do you already have an account? Log in and start answering questions.
      </p>

      {% else %}

    <p>
        It seems that you are already logged in. What are you waiting for?
        Go to the <strong>Home page</strong> and start playing.
    </p>
    <a class="btn btn-primary btn-lg" href="{% url 'quiz:question_home' %}" role="home">Home</a>

      {% endif %}
  </div>


{% endblock %}