{% extends "quiz/question/base.html" %}

{% block question_button %}

<a id="proceed_button" class="btn btn-secondary btn-lg mt-2 disabled" href="{% url 'quiz:reservation_steer' question.id %}">Proceed</a>

{% endblock %}

<!-- Add a info alert here -->
{% block custom_alerts_block %}

	<div class="alert alert-info px-2" role="alert">
	  <strong>Info</strong>
	  	You have to wait the admin approval to procced.
	</div>

	<div class="alert alert-success px-2 collapse" role="alert">
	  <strong>Aww yeah,</strong> now you can go.
	</div>

	<div class="alert alert-warning px-2 collapse" role="alert">
	  <strong>Holy moly,</strong> an error occurred.<br />
	</div>	

{% endblock %}

<!-- The javascript code below is for check reservation status and enable link to proceed. -->
{% block extra_javascript_block %}

	<script type="text/javascript">
	$(document).ready(function(){
	    var n_attempts_if_error = 3;

	    function check_reservation(try_again) {
	        $.ajax({
	            url: '{% url 'quiz:api_check_question_reservation' question.id %}',
	            type: 'GET',
	            dataType: 'json',
	            success: function(data){
	                // Check if the question has been reserved
	                if (data.hasOwnProperty('question_reserved') &
	                    data.question_reserved) {

	                    // Is been reserved, stop checking
	                    try_again = false;

	                    // Enable button
	                    $('#proceed_button').removeClass('btn-secondary disabled');
	                    $('#proceed_button').addClass('btn-primary');
	                    $('#button_go').show();

	                    //// Enable alert
	                    $('.alert-success').show();
	                }
	            },
	            error: function(xhr, status, error) {
	                // Display error message as an alert
	                var errorMessage = xhr.status + ': ' + xhr.statusText
	                $('.alert-warning').html($('.alert-warning').html() + ' ' + errorMessage);
	                $('.alert-warning').show();

	                console.error('Error: ', xhr);
	                // Stop
	                try_again = false
	            },
	            complete: function(event, request) {
	                if (try_again) {
	                   setTimeout(check_reservation, 4000, try_again);
	                }
	            }
	        });
	    };

	    check_reservation(true, 3);
	});
	 </script>

{% endblock %}